.header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px #ccc solid;
  font-size: 13px;
}
.header a {
  text-decoration: none;
  color: #666;
}
.header .row .cod img {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  border-top: none;
  left: 50%;
  top: 49px;
  transform: translateX(-50%);
}
.header .row :hover img {
  display: block;
  z-index: 998;
}
.header .row {
  text-align: center;
}
.header .row > div:nth-last-of-type(-n+3) {
  border-left: 1px solid #ccc;
}
.header .row > div:nth-last-of-type(1) .btn-danger {
  padding: 3px 15px;
}
.header .row > div:nth-last-of-type(1) .btn-link {
  color: #666;
  text-decoration: none;
}
.wjs_nav .navbar-brand {
  height: 80px;
  line-height: 50px;
  font-size: 60px;
}
.wjs_nav .navbar-brand > span:nth-of-type(1) {
  color: red;
}
.wjs_nav .navbar-brand > span:nth-of-type(2) {
  color: #000;
}
.wjs_nav .navbar-toggle {
  margin-top: 23px;
}
.wjs_nav .navbar-nav > li {
  height: 80px;
}
.wjs_nav .navbar-nav > li > a {
  line-height: 50px;
  font-size: 15px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li a:focus {
  border-bottom: 3px solid red;
  color: #777;
}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active a:hover,
.wjs_nav .navbar-nav > .active a:focus {
  background-color: transparent;
  border-bottom: 3px solid red;
}
.pcImg {
  width: 100%;
  height: 380px;
  display: block;
  background-size: cover;
  background-position: center;
}
.mobileImg {
  width: 100%;
  display: block;
}
.mobileImg > img {
  width: 100%;
  display: block;
}
.service {
  padding: 30px 0;
}
.service .row .wjs_icon {
  font-size: 30px;
}
.service .row a {
  color: #333;
  text-decoration: none;
}
.service .row a > .media-left {
  vertical-align: middle;
}
.service .row a:hover {
  color: red;
}
.order {
  height: 60px;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  line-height: 60px;
  box-sizing: border-box;
}
.order a {
  color: #333;
}
.order a:hover {
  color: red;
}
.order .datenow {
  color: red;
  border-bottom: 1px dashed red;
}
.product {
  background-color: #eee;
  border: 20px 0;
  clear: both;
}
.product .parent {
  overflow: hidden;
}
.product .parent .nav-tabs {
  width: 1140px;
}
.product .parent .nav-tabs > li {
  height: 80px;
  padding: 0 15px;
}
.product .parent .nav-tabs > li > a {
  line-height: 58px;
  border: none;
  color: #555;
  font-size: 16px;
}
.product .parent .nav-tabs > li.active > a,
.product .parent .nav-tabs > li.active a:hover,
.product .parent .nav-tabs > li.active a:focus {
  border: none;
  background-color: #eee;
  border-bottom: 3px solid red;
}
.product .parent .nav-tabs > li > a:hover {
  background-color: transparent;
  border-bottom: 3px solid red;
}
.product .proBox {
  height: 150px;
  display: flex;
  margin-top: 15px;
  box-shadow: 1px 1px 1px 2px #c0c0c0;
}
.product .proBox > .left {
  flex: 1;
  background-color: #fff;
}
.product .proBox > .left h4 {
  text-align: center;
  font-size: 16px;
}
.product .proBox > .left .shareBox {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
}
.product .proBox > .left .shareBox > div {
  width: 50%;
}
.product .proBox > .left .shareBox > div:nth-of-type(even) {
  text-align: right;
}
.product .proBox > .right {
  width: 100px;
  background-color: #fff;
  border-left: 1px dashed #ccc;
  position: relative;
  text-align: center;
  padding-top: 20px;
}
.product .proBox > .right::before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #eee;
  position: absolute;
  top: -7px;
  left: -7px;
  box-shadow: 0px -1px 2px #ccc inset;
}
.product .proBox > .right::after {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #eee;
  position: absolute;
  bottom: -7px;
  left: -7px;
  box-shadow: 0px 1px 2px #ccc inset;
}
.product .proBox > .right > span {
  font-size: 40px;
  color: red;
  font-weight: bold;
}
.product .proBox > .right > sub {
  font-size: 13px;
  bottom: 0;
  color: red;
}
.product .proBox > .right .wjs_tip {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}
.product .proBox > .right .wjs_tip > span:nth-of-type(1) {
  border: 1px red solid;
  color: red;
  cursor: pointer;
}
.product .proBox > .right .wjs_tip > span:nth-of-type(2) {
  border: 1px blue solid;
  color: blue;
  cursor: pointer;
}
.product .proBox.active {
  color: #fff;
}
.product .proBox.active > .left {
  background-color: #f00;
  position: relative;
}
.product .proBox.active > .left::before {
  content: "\e915";
  font-family: wjs;
  font-size: 30px;
  position: absolute;
  left: 0;
  top: -6px;
}
.product .proBox.active > .right {
  background-color: #f00;
}
.product .proBox.active > .right > span,
.product .proBox.active > .right sub {
  color: #fff;
}
.partener {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
}
.partener > h3 {
  line-height: 50px;
  text-align: center;
}
.partener > ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.partener > ul > li {
  margin: 0 20px;
}
.partener > ul > li > a {
  color: #666;
  text-decoration: none;
}
.partener > ul .wjs_icon {
  font-size: 80px;
}
